*, :before, :after{
    box-sizing: border-box;    
}

body{
    margin:0;
    background-color:bisque;
}

h1{
    text-align: center;
    color: red;
}

#button-container{
    margin-top:150px;
    margin-bottom: 100px;
    width: 100%;
    height: 80px;
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:20px;
}

.button.one{
    grid-column-start: 2;
}
.button{
    font-size: 24px;
    border-radius: 48px;
    background-color: gray;
}
.button:hover{
    background-color: bisque;
    color:black;
}

#score-container{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;   
    font-size: 22px;
}

.computer{
    background-color: aqua;
    text-align: left;
    flex-grow: 1;   
    color: red;
}
.player{
    background-color: red;
    text-align: right;
    flex-grow: 1;  
    color:aqua;

}